body{
    width: 50vw;
    margin: 0 auto;
    background-color: skyblue;
}

h1 {
    font-size: 1.2rem;
    font-family:'Lobster', cursive;
}

div {
    display: flex;

}

input {
    width: 30vw;
    border:  tomato;
}

button {
    border: 0;
    background-color: tomato;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
}

li {
    list-style: none;
}