h3 {
    font-family:'Lobster', cursive;
    text-align: center;
}

#container {
    display: flex;
    background-color: sienna;
    width: 100vw;
    height: 100vh;
}

img {
    width: 350px;
    height: 250px;
    margin: 10px;
    border:4px solid rgb(0, 0, 0);
}

#imagem {
    width: 86vw;
    display: inline;
    margin:0 auto;
    margin-top: 8vh;


}