h4{
    font-size: 1.8rem;
    text-shadow: 1px 2px 30px rgba(19, 18, 18, 0.54) ;
    color: #333;
}

a{
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(20, 175, 236);
    animation: slideinIcon;
    animation-duration: 1.5s;
    
}

div {
    border-radius: 20px;
    width: 50vw;
    margin: 28vh auto;
    padding: 5vw;
    text-align: center;
    color: #333;

    box-shadow: 1px 2px 10px rgba(32, 31, 31, 0.7);

    animation: slidein;
    animation-duration: 1.5s;
}

i{
    margin-right: 5px;
}

@keyframes slidein{
    from {
        margin-top: 80vh;
        width: 60vh;
    }

    to {
        width: 80vh;
    }
}